set ssl_force_tls=yes
set abort_nosubject=ask-yes
set mail_check=60
set timeout=60
set sort=threads
set sort_aux=last-date-received
set sort_re
set copy=no
set envelope_from=yes
set from="{{ mail_email_name }} <{{ mail_email_address }}>"
set use_from=yes
set edit_headers=yes
