###############################################################################
# BEGIN: Base

export ZSH="/opt/oh-my-zsh"
export ZSH_CACHE_DIR="$HOME/.cache/oh-my-zsh"

ZSH_THEME="agnoster"

autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit
autoload -U add-zsh-hook

plugins=(
  git
  hab
)

source $ZSH/oh-my-zsh.sh

# END: Base
###############################################################################

###############################################################################
# BEGIN: Others

source {{ dotfiles_config_root }}/zsh/.zsh/*.zsh


# END: Others
###############################################################################